TheVegetaBot/config.py
TheVegetaBot/*.session
TheVegetaBot/*.session-journal
TheVegetaBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
TheVegetaBot/modules/helper_funcs/temp.txt
TheVegetaBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Vegeta.session-journal
updates.txt
*.exe
